<div>
    <h2 class="title is-2">Search for a movie</h2>
</div>
<div>
    <form method="GET" action="/search">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" name="title" placeholder="Search for movie title">
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>